.class_list {
    width: 300px;
    border: 1px solid #333;
}

.class_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.class_ol {
    width: 300px;
    height: 600px;
    overflow-y: scroll;
}

.class_listitem {
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ccc;
}

.class_listitem:hover {
    background-color: #666;
}

.class_listitem a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.class_listitem a:hover {
    color: #a52a2a;
}