/* 通用头部 */

.header {
    padding: 8px;
    height: 40px;
    background-color: #fff;
}

.logo {
    font-size: 20px;
    font-weight: normal;
}

.nav {
    display: inline-block;
}


/* 导航单元样式 */

.nav-item {
    padding: 8px;
    font-size: 16px;
    color: #888;
}


/* 导航单元被选中状态样式 */

.nav-active {
    color: #000;
}

.header-right-unlogined {
    display: inline-block;
}

.header-right-unlogined>a {
    padding: 6px 12px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}

.btn-login {
    margin-right: 8px;
    border: 1px solid #007bff;
}

.btn-login:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-reg {
    border-color: #2a8745;
    background-color: #2a8745;
    color: #fff;
}

.btn-reg:hover {
    background-color: #218138;
    border-color: #218138;
    color: #fff;
}