/* 成长路线 */

.ways {
    padding: 20px;
    background-color: #f0f0f0;
}

.ways-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.ways-title::before {
    content: "";
    display: inline-block;
    text-decoration: line-through;
    width: 100px;
    border-top: 1px solid #ccc;
    margin-right: 40px;
}

.ways-title::after {
    content: "";
    display: inline-block;
    text-decoration: line-through;
    width: 100px;
    border-top: 1px solid #ccc;
    margin-left: 40px;
}

.way {
    float: left;
    margin: 20px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #aaa;
    overflow: hidden;
}

.way-img-wrapper {
    width: inherit;
    height: 150px;
}

.way-img-wrapper img {
    width: 100%;
    height: 100%;
}

.way-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
}