/* 等你来学标题 */

.wait {
    background-color: #f5f5f5;
    padding: 0px 20px 10px;
}

.wait-bg {
    width: 100%;
    height: 60px;
    background-image: url(../src/images/wait.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.wait-t {
    text-align: center;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}